Django==5.2
django-allauth==0.61.0
django-storages==1.14.2
Pillow==10.1.0
python-magic==0.4.27
boto3==1.33.13
dj-database-url==2.1.0
whitenoise==6.6.0
gunicorn==21.2.0

# Dependências opcionais para produção
# psycopg2-binary==2.9.9  # Para PostgreSQL
# mysqlclient==2.2.1      # Para MySQL 